version: "3.8"

services:
  front:
    image: sermalenk/skypro-front:lesson-37
    restart: on-failure
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_started
      collect_static:
        condition: service_completed_successfully
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - django_static:/usr/share/nginx/html/static


  collect_static:
    image: tanyayogini/todolist:latest
    env_file: .env
    command: python manage.py collectstatic -c --no-input
    volumes:
      - django_static:/opt/todolist/static/

  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - todolist:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U ${DB_USER} -d ${DB_NAME}
      interval: 5s
      timeout: 2s
      retries: 10


  migrations:
    image: tanyayogini/todolist:latest
    env_file: .env

    depends_on:
      db:
        condition: service_healthy
    command: python manage.py migrate

  api:
    image: tanyayogini/todolist:latest
    env_file: .env
    depends_on:
      migrations:
        condition: service_completed_successfully


volumes:
  todolist:
  django_static: